**.DS_Store

.mypy_cache
**/__pycache__/
**.pyc

.spark
metastore_db
derby.log

.envrc
.venv

.tmp/

ap-duckdb-*.ipynb

outputs/*
times/*
.ipynb*

figs/*
times/*
benchmarks/*
tmp/*

timing_benchmark.log
data/tpch/tpch.duckdb
